@page
@model AccidentesTransito.App.Frontend.Pages.RegistroAccidenteModel
@{
}
<hr><br>

<form asp-page-handler="AgregarVehiculoImplicado" method="POST" class="row g-3" style="align-items: center;">
	<div style="justify-content:center;text-align: center;">
		<h3 style="margin: 20px;">Vehículos Implicados</h3>
	</div>

	<div class="row mb-3">
		<label for="colFormLabel" class="col-sm-2 col-form-label">Busqueda por placa</label>

		<div class="col-sm-6">
			<input required name="placaVehiculoImplicado" type="text" class="form-control" id="colFormLabel">
		</div>

		<div class="col-4">
			<button type="submit" class="btn btn-success" id="buscarVehiculoImplicado">Buscar</button>
			@* <!-- Button trigger modal --> *@
			<button type="button" class="btn btn-success" data-bs-toggle="modal"
				data-bs-target="#registroVehiculo">Agregar</button>
			@* <!-- Modal --> *@
			
		</div>
	</div>

</form><br><br>

	<table class="table table-bordered table-hover" id="vehiculosImplicados">
		<thead>
			<tr>
				<th scope="col">PLACA</th>
				<th scope="col">MARCA</th>
				<th scope="col">MODELO</th>
				<th scope="col">TIPO VEHICULO</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.AccidenteConductorVehiculoImplicados != null)
			{
				@foreach (var acv in Model.AccidenteConductorVehiculoImplicados)
				{
					<tr>
						<td>@acv.Vehiculo.Placa</td>
						<td>@acv.Vehiculo.Marca</td>
						<td>@acv.Vehiculo.Modelo</td>
						<td>@acv.Vehiculo.TipoVehiculo.Nombre</td>
					
					</tr>
				}	
			}
			
		</tbody>
	</table>

<div class="modal fade" id="registroVehiculo" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Registrar Vehículo</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div style="text-align: center;">
							<img src="~/img/vehiculo.png" alt="conductor 2" width="120px" height="100px"
								title="conductor 2" style="margin: 20px;" />
						</div>
						<div class="modal-body">
							<form  asp-page-handler="AgregarVehiculoNuevo" method="POST" >
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Placa:</label>
									<div class="col-sm-10">
										<input required asp-for="Vehiculo.Placa" type="text" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Número Placa" aria-label="Número Placa">
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Marca:</label>
									<div class="col-sm-10">
										<input required asp-for="Vehiculo.Marca" type="text" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Marca" aria-label="Marca">
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Modelo:</label>
									<div class="col-sm-10">
										<input required asp-for="Vehiculo.Modelo" type="number" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Modelo" aria-label="Modelo">
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Tipo:</label>
									<div class="col-sm-10">
										<select required asp-for="Vehiculo.TipoVehiculo.Id" class="form-select" id="autoSizingSelect">
											<option selected>Seleccionar ...</option>
											<option value="1"> Automóvil </option>
											<option value="2"> Motocicleta </option>
										</select>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Capacidad:</label>
									<div class="col-sm-10">
										<input required asp-for="Vehiculo.CapacidadPasajeros" type="number" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Capacidad" aria-label="Capacidad">
									</div>
								</div>
								<br>
								<div class="modal-footer">
									<a class="btn btn-danger" asp-page="./Close" title="Cerrar"><i
											class="fas fa-window-close" title="Cerrar"></i></a>
											<button type="submit">
									<a class="btn btn-success" title="Guardar"><i class="fas fa-save"
											title="Guardar"></i></a></button>
									<a class="btn btn-primary" asp-page="./Edit" title="Editar"><i class="fas fa-edit"
											title="Editar"></i></a>
									<a class="btn btn-warning" asp-page="./Delete" title="Eliminar"><i
											class="fas fa-trash-alt" title="Eliminar"></i></a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>




<hr><br><br>

<form asp-page-handler="AgregarConductorImplicado" method="POST" class="row g-3" style="align-items: center;">
	<div style="justify-content:center;text-align: center;">
		<h3 style="margin: 20px;">Conductores Implicados</h3>
	</div>

	<div class="row mb-3">
		<label for="colFormLabel" class="col-sm-2 col-form-label">Busqueda por número de identificacion</label>

		<div class="col-sm-6">
			<input name="cedulaConductorImplicado" required type="text" class="form-control" id="colFormLabel">
		</div>
		<hr>
		<label for="colFormLabel" class="col-sm-2 col-form-label">Vehiculo asociado (Previamente ingresado)</label>
		<div class="col-sm-6">
			<input name="placaVehiculoAsociado" required type="text" class="form-control" id="colFormLabel">
		</div>

		<div class="col-4">
			<button type="submit" class="btn btn-success">Buscar</button>
			@* <!-- Button trigger modal --> *@
			<button type="button" class="btn btn-success" data-bs-toggle="modal"
				data-bs-target="#registroConductor">Agregar</button>
			@* <!-- Modal --> *@
			
		</div>
	</div>

</form><br><br>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Numero Identificacion</th>
				<th scope="col">Nombres</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Tipo licencia</th>
				<th scope="col">Vehiculo asociado</th>
				
			</tr>
		</thead>
		<tbody>
				@if (Model.AccidenteConductorVehiculoImplicados != null)
			{
				@foreach (var acv in Model.AccidenteConductorVehiculoImplicados)
				{
					@if (acv.Conductor != null)
					{
						<tr>
							<td>@acv.Conductor.DocumentoIdentidad</td>
							<td>@acv.Conductor.Nombres</td>
							<td>@acv.Conductor.Apellidos</td>
							<td>@acv.Conductor.TipoLicencia</td>
							<td>@acv.Vehiculo.Placa</td>
							
						</tr>
					}
				}	
			}

		</tbody>
	</table>

<div class="modal fade" id="registroConductor" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Registrar Conductor</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div style="text-align: center;">
					<img src="~/img/conductor 2.jpg" alt="conductor 2" width="120px" height="100px"
						title="conductor 2" style="margin: 20px;" />
				</div>
				<div class="modal-body">
					<form asp-page-handler="AgregarConductorNuevo" method="POST">
						<div class="form-group row">
							<label for="colFormLabelLg"
								class="col-sm-2 col-form-label col-form-label-lg">Identificacion:</label>
							<div class="col-sm-10">
								<input required asp-for="Conductor.DocumentoIdentidad" type="number" class="form-control form-control-lg" id="colFormLabelLg"
									placeholder="Número Identificacion" aria-label="Número Identificacion">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="colFormLabelLg"
								class="col-sm-2 col-form-label col-form-label-lg">Licencia:</label>
							<div class="col-sm-10">
								<select required asp-for="Conductor.TipoLicencia" class="form-select" id="autoSizingSelect">
									<option selected>Tipo</option>
									<option value="Clase A1">Clase A1</option>
									<option value="Clase A2">Clase A2</option>
									<option value="Clase B1">Clase B1</option>
									<option value="Clase B2">Clase B2</option>
									<option value="Clase B3">Clase B3</option>
									<option value="Clase C1">Clase C1</option>
									<option value="Clase C2">Clase C2</option>
									<option value="Clase C3">Clase C3</option>
								</select>
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="colFormLabelLg"
								class="col-sm-2 col-form-label col-form-label-lg">Nombre:</label>
							<div class="col-sm-10">
								<input required asp-for="Conductor.Nombres" type="text" class="form-control form-control-lg" id="colFormLabelLg"
									placeholder="Nombre" aria-label="Nombre">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="colFormLabelLg"
								class="col-sm-2 col-form-label col-form-label-lg">Apellido:</label>
							<div class="col-sm-10">
								<input required asp-for="Conductor.Apellidos" type="text" class="form-control form-control-lg" id="colFormLabelLg"
									placeholder="Apellido" aria-label="Apellido">
							</div>
						</div>
						<br>
						<div class="modal-footer">
							<a class="btn btn-danger" asp-page="./Close" title="Cerrar"><i
									class="fas fa-window-close" title="Cerrar"></i></a>
									<button type="submit">
							<a class="btn btn-success" title="Guardar"><i class="fas fa-save"
									title="Guardar"></i></a></button>
							<a class="btn btn-primary" asp-page="./Edit" title="Editar"><i class="fas fa-edit"
									title="Editar"></i></a>
							<a class="btn btn-warning" asp-page="./Delete" title="Eliminar"><i
									class="fas fa-trash-alt" title="Eliminar"></i></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

		<hr><br><br>	
<form asp-page-handler="AgregarPeatonImplicado" method="POST" class="row g-3" style="align-items: center;">
	<div style="justify-content:center;text-align: center;">
		<h3 style="margin: 20px;">Peatones Implicados</h3>
	</div>

	<div class="row mb-3">
		<label for="colFormLabel" class="col-sm-2 col-form-label">Busqueda por número de identificacion</label>

		<div class="col-sm-6">
			<input required type="text" name="cedulaPeatonImplicado" class="form-control" id="colFormLabel">
		</div>

		<div class="col-4">
			<button type="submit" class="btn btn-success">Buscar</button>
			@* <!-- Button trigger modal --> *@
			<button type="button" class="btn btn-success" data-bs-toggle="modal"
				data-bs-target="#registroPeaton">Agregar</button>
			@* <!-- Modal --> *@
			
		</div>
	</div>

</form>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Numero Identificacion</th>
				<th scope="col">Nombres</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Presenta discapacidad</th>
			</tr>
		</thead>
		<tbody>
				@if (Model.PeatonesImplicados != null)
			{
				@foreach (var peaton in Model.PeatonesImplicados)
				{
					<tr>
						<td>@peaton.DocumentoIdentidad</td>
						<td>@peaton.Nombres</td>
						<td>@peaton.Apellidos</td>
						<td>@peaton.PresentaDiscapacidad</td>
						
					</tr>
				}	
			}
		</tbody>
	</table>


<div class="modal fade" id="registroPeaton" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Registrar Peatones</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div style="text-align: center;">
							<img src="~/img/peaton.jpg" alt="conductor 2" width="120px" height="100px"
								title="conductor 2" style="margin: 20px;" />
						</div>
						<div class="modal-body">
							<form asp-page-handler="AgregarPeatonNuevo" method="POST">
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Identificacion:</label>
									<div class="col-sm-10">
										<input required asp-for="Peaton.DocumentoIdentidad" type="number" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Número Identificacion" aria-label="Número Identificacion">
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Discapacidad:</label>
									<div class="col-sm-10">
										<select required asp-for="Peaton.PresentaDiscapacidad" class="form-select" id="autoSizingSelect">
											<option selected>Seleccion</option>
											<option value=1>Si</option>
											<option value=0>No</option>
										</select>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Nombre:</label>
									<div class="col-sm-10">
										<input required asp-for="Peaton.Nombres" type="text" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Nombre" aria-label="Nombre">
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="colFormLabelLg"
										class="col-sm-2 col-form-label col-form-label-lg">Apellido:</label>
									<div class="col-sm-10">
										<input required asp-for="Peaton.Apellidos" type="text" class="form-control form-control-lg" id="colFormLabelLg"
											placeholder="Apellido" aria-label="Apellido">
									</div>
								</div>
								<br>
								<div class="modal-footer">
									<a class="btn btn-danger" asp-page="./Close" title="Cerrar"><i
											class="fas fa-window-close" title="Cerrar"></i></a>
											<button type="submit">
									<a class="btn btn-success" title="Guardar"><i class="fas fa-save"
											title="Guardar"></i></a></button>
									<a class="btn btn-primary" asp-page="./Edit" title="Editar"><i class="fas fa-edit"
											title="Editar"></i></a>
									<a class="btn btn-warning" asp-page="./Delete" title="Eliminar"><i
											class="fas fa-trash-alt" title="Eliminar"></i></a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
<hr><br><br>


<form asp-page-handler="AgregarAccidente" method="POST" class="row g-3">
	<div style="justify-content:center; margin: 50px; text-align: center;">
		<h1>Formulario unico para el registro de accidentes de transito.</h1>
		<h3 style="margin: 20px;">Informacion general de accidentes</h3>
	</div>
	<div class="col-md-4">
		<label for="inputEmail4" class="form-label">Ingrese documento</label>
		<input required asp-for="Agente.DocumentoIdentidad" type="number" class="form-control" id="inputEmail4" placeholder="Ingrese documento">
	</div>

	<div class="col-md-4">
		<label for="inputPassword4" class="form-label">Cantidad Lesionados</label>
		<input type="number" asp-for="Accidente.CantidadLesionados" class="form-control" id="inputPassword4" placeholder="Numero lesionados">
	</div>

	<div class="col-md-4">
		<label for="inputPassword4" class="form-label">Cantidad Fallecidos</label>
		<input type="number" asp-for="Accidente.CantidadFallecidos" class="form-control" id="inputPassword4" placeholder="Numero Fallecidos">
	</div>

	<div class="col-md-4">
		<label for="autoSizingSelect" class="form-label">Barrio</label>
		<select required asp-for="Accidente.Barrio.Id" class="form-select" id="autoSizingSelect">
			<option selected>Seleccionar ...</option>
			<option value="1"> Santa Monica </option>
			<option value="2"> Campo Alegre </option>
			<option value="3"> El Silencio </option>
			<option value="4"> Villa Verde </option>
			<option value="5"> Campo Triste </option>
		</select>
	</div>

	<div class="col-md-4">
		<label for="inputPassword4" class="form-label">Georreferencia X</label>
		<input asp-for="Accidente.GeoRreferenciaX" type="number" class="form-control" id="inputPassword4">
	</div>

	<div class="col-md-4">
		<label for="inputPassword4" class="form-label">Georreferencia Y</label>
		<input asp-for="Accidente.GeoRreferenciaY" type="number" class="form-control" id="inputPassword4">
	</div>

	<div class="col-12">
		<label for="inputAddress2" class="form-label">Descripccion</label>
		<textarea asp-for="Accidente.Descripcion" type="text" class="form-control" placeholder="Descipccion aquí ..." style="height: 250;"></textarea>
	</div>
	<div class="col-12" style="align-items: center; justify-content: center; display: flex;">
		<button style="margin: 15px;" type="submit" class="btn btn-success">Registrar Accidente</button>
	</div>
</form><br>